@font-face

{

font-family: FFF_Tusj;

src:url(FFF_Tusj.ttf);
}

@media (max-width: 900px){
	
	#tresc {
		grid-template-columns: repeat(2,auto) !important;
	}
}

* {
	box-sizing: border-box;
}


#container {
	
	margin: auto;
	
	
}

div {
	display:block;
}

#logo {
	font-family:Copperplate Gothic Light;
	height: 90px;
	box-shadow: 1px 1px 1px #666;
	position: relative;
	background-color: #3d81ee;
	text-align: center;
	font-size:70px;
	color:black;
	margin: 0 0 5px;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0);
}

.logo {
	font-size: 3vmax;
	
}

#tresc {
	width: 100%;
	float:left;
	background-color: white;
	display:grid;
	grid-template-columns: repeat(3,auto);
	justify-content: space-evenly;
	background-color: #f9f7f4;
	
	
	
}

#stopka {
	background-color:#3d81ee;
	clear:both;
	font-size: 10px;
	box-shadow: 1px 1px 2px #666;
}

.month {
	width: 250px;
	background-color:red;
	margin: 15px;
	height: 250px;
	background-color: #f9f7f4;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

table {
	text-align: center;
	font-size: 18px;
	
}

.muted {
	opacity: 0.4
}

.warning {
	color: red;
}

caption {
	font-weight: bold;
	margin: 10px;
}

.month:hover {
	transform: scale(1.2);
}

.month::before {
	content:"";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.3;
	z-index: 10;
	
}

#styczen::before {
	background-image: url("styczen.jpg");
}

#luty::before {
	background-image: url("luty.jpg");
}

#marzec::before {
	background-image: url("marzec.jpg");
}

#kwiecien::before {
	background-image: url("kwiecien.jpg");
}

#maj::before {
	background-image: url("maj.jpg");
}

#czerwiec::before {
	background-image: url("czerwiec.jpg");
}

#lipiec::before {
	background-image: url("lipiec.jpg");
}

#sierpien::before {
	background-image: url("sierpien.jpg");
}

#wrzesien::before {
	background-image: url("wrzesien.jpg");
}

#pazdziernik::before {
	background-image: url("pazdziernik.jpg");
}

#listopad::before {
	background-image: url("listopad.jpg");
}

#grudzien::before {
	background-image: url("grudzien.jpg");
}